
<!doctype html>
<html>
<head>
	<title>Indian Railways</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
        html {
    height: 100%
}
		body 		{ padding-top:80px;
            background-image: url("bg1.jpg");
            background-repeat: no-repeat;
    background-size: 100% 100%; }
    .jumbotron{
 opacity: 0.65;
    }

	</style>
</head>
<body >
    <div class="container">
        <div class="jumbotron text-center">
<h1>WELCOME TO INDIAN RAILWAYS</h1>
            <!-- <h2><span class="fa fa-lock"></span>  Authentication</h2> -->

            <p>Login or Register with:</p>

            <a href="/login" class="btn btn-default font-weight-bold"><span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default font-weight-bold"><span class="fa fa-user"></span> Local Signup</a>
            <a href="/admin" class="btn btn-default font-weight-bold"><span class="fa fa-user"></span> Admin Login</a>
        </div>
    </div>
</body>
</html> 
